  
  <div class="row">
  
    <div class="col-md-12">  
      <nb-card>
        <nb-card-header>Sight Category</nb-card-header>
        <nb-card-body>
          <form [formGroup]="sightCategoryForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Name (Deutsche)</label>
                  <input type="text" nbInput fullWidth  placeholder="Category" formControlName="name_de">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label">Name (English)</label>
                  <input type="text" nbInput fullWidth placeholder="Category" formControlName="name_en">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputEmail" class="label">Name (Francais)</label>
                  <input type="text" nbInput fullWidth placeholder="Category" formControlName="name_fr">
                </div>
              </div>
            </div>
            <button type="submit" nbButton>Submit</button>
          </form>
        </nb-card-body>
      </nb-card> 
    </div>
  </div>